In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
hostname = "localhost"
dbname = "financial_analysis"
uname = "root"
pwd = "production_server"

In [7]:
df=pd.read_excel(io=r"C:\Users\adham\OneDrive\Documents\Personal\Finance\Banking\CIB\Credit Cards\Platinum_202407.xls")
df

WARNING *** file size (239136) not 512 + multiple of sector size (512)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,ادهم نورالوفاء محمد حسن ح,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,5 بنك كريدي شويفات التجمع,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,NaN,Please notify the bank before traveling abroad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,"For Credit terms & conditions, please visit,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,http://www.cibeg.com/arabic/personal/cards/pag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,Unless an active to the contrary is received b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,NaN,"date of this statement, we shall assume correc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
index = df[df['Unnamed: 15'] == 'OPENING BALANCE'].index[0]+1
df=df.loc[index:]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,17-06,NaN,NaN,NaN,23-06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.46,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,NaN,Please notify the bank before traveling abroad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,"For Credit terms & conditions, please visit,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,http://www.cibeg.com/arabic/personal/cards/pag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,Unless an active to the contrary is received b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,NaN,"date of this statement, we shall assume correc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
index = df[df['Unnamed: 15'] == 'CLOSING BALANCE'].index[0]-1
df=df.loc[:index]
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,17-06,NaN,NaN,NaN,23-06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.46,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,NaN,NaN,NaN,1-07,NaN,NaN,NaN,1-07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.00,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,1-07,NaN,NaN,NaN,2-07,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.27,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df = df.iloc[:, [4, 8, 15, 33]]
df

    Unnamed: 4 Unnamed: 8                   Unnamed: 15 Unnamed: 33
27         NaN        NaN                           NaN         NaN
28         NaN        NaN  Card No: 5229 XXXX XXXX 9982         NaN
29         NaN        NaN                           NaN         NaN
30       17-06      23-06    CAREEM TEMPORARY HOLD Giza       12.46
31         NaN        NaN                           NaN         NaN
..         ...        ...                           ...         ...
262        NaN        NaN                           NaN         NaN
263       1-07       1-07     INSURANCE FEE -SOLIDARITY       20.00
264        NaN        NaN                           NaN         NaN
265       1-07       2-07                    Stamp Duty       59.27
266        NaN        NaN                           NaN         NaN

[240 rows x 4 columns]

In [11]:
df.columns = ["Transaction Date","Value Date","Description","Amount"]

In [12]:
for column in df.columns:
    if column != 'Amount':
        df[column] = df[column].fillna(method='ffill')

C:\Users\adham\AppData\Local\Temp\ipykernel_8428\3942618212.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[column] = df[column].fillna(method='ffill')
C:\Users\adham\AppData\Local\Temp\ipykernel_8428\3942618212.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(method='ffill')

In [13]:
df = df[df['Amount'].notna()]

In [14]:
df['Amount']=df['Amount'].str.strip()
df[['Transaction_Amount', 'sign']] = df["Amount"].str.split(" ",n=1, expand=True)

C:\Users\adham\AppData\Local\Temp\ipykernel_8428\3041182477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Amount']=df['Amount'].str.strip()
C:\Users\adham\AppData\Local\Temp\ipykernel_8428\3041182477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Transaction_Amount', 'sign']] = df["Amount"].str.split(" ",n=1, expand=True)
C:\Users\adham\AppData\Local\Temp\ipykernel_8428\3041182477.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Transaction_Amount', 'sign']] = df["Amount"].str.split(" ",n=1, expand=True)

In [15]:
df['Transaction_Amount']=df['Transaction_Amount'].astype('float')
df['signed_amount'] = df['Transaction_Amount'].where(~df['sign'].isnull(), -1 * df['Transaction_Amount'])
df

C:\Users\adham\AppData\Local\Temp\ipykernel_8428\4220165041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Transaction_Amount']=df['Transaction_Amount'].astype('float')
C:\Users\adham\AppData\Local\Temp\ipykernel_8428\4220165041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['signed_amount'] = df['Transaction_Amount'].where(~df['sign'].isnull(), -1 * df['Transaction_Amount'])

,Transaction Date,Value Date,Description,Amount,Transaction_Amount,sign,signed_amount
30,17-06,23-06,CAREEM TEMPORARY HOLD Giza,12.46,12.46,None,-12.46
32,21-06,22-06,JOVIALITY MALL OF EGYPT 6TH OCT. -01A,300.00,300.00,None,-300.00
37,21-06,22-06,CARREFOUR - MALL OF EGYPT EFT 6TH OCT. -01A,30.48,30.48,None,-30.48
39,21-06,23-06,BLUCH XXL HELIOPOLIS CAIRO N 07,1300.00,1300.00,None,-1300.00
41,21-06,23-06,WE DATA GIZA,130.00,130.00,None,-130.00
...,...,...,...,...,...,...,...
257,18-07,20-07,ALMAHFOUZ CAIRO N. -07A,3500.00,3500.00,None,-3500.00
259,11-07,12-07,PAYMENT RECEIVED INTERNET,2000.00 CR,2000.00,CR,2000.00
261,14-07,14-07,PAYMENT RECEIVED INTERNET,18400.00 CR,18400.00,CR,18400.00
263,1-07,1-07,INSURANCE FEE -SOLIDARITY,20.00,20.00,None,-20.00
265,1-07,2-07,Stamp Duty,59.27,59.27,None,-59.27

In [16]:
df = df.drop(columns=['Amount', 'Transaction_Amount', 'sign'])

In [18]:
engine = create_engine(f"mysql+pymysql://{uname}:{pwd}@{hostname}/{dbname}")

In [19]:
df.to_sql("credit_cards_transactions", engine, if_exists="replace", index=False)

110